<div class="post">
	<div class="post-heading">
		<span>{{recent.publishedAt}}</span>
		<img class="img-responsive" src="images/blog/wedding.jpg" alt="post's picture">
	</div>
	<div class="post-body">
		<span>
			<i class="fa fa-heart sr-icons"></i>
			10
			<i class="fa fa-comments sr-icons"></i>
			10
		</span>
		<h4 class="text-left">
			<a href="{{path('single_post')}}">
				<strong>Aliquam soluta</strong>
			</a>
		</h4>
	</div>
</div>
<div class="post">
	<div class="post-heading">
		<span>12 MAY</span>
		<img class="img-responsive" src="images/blog/woman.jpg" alt="post's picture">
	</div>
	<div class="post-body">
		<span>
			<i class="fa fa-heart sr-icons"></i>
			10
			<i class="fa fa-comments sr-icons"></i>
			10
		</span>
		<h4 class="text-left">
			<a href="{{path('single_post')}}">
				<strong>Consequuntur</strong>
			</a>
		</h4>
	</div>
</div>
